.carousel-dots li button:before {
    color:#fff;
}

.carousel-dots li.carousel-dots-active button:before {
    opacity: .75;
    color: #fff;
}

.slide--container {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1em;
}
.slide--photo {
    margin-right: 2em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    height: 67vh;
}
.slide--description {
    color: #fff;
    width: 30%;
}

.slide--1 { background-image: url('../helperFiles/images/passion-2.jpg');}
.slide--2 { background-image: url('../helperFiles/images/passion-1.jpg');}
.slide--3 { background-image: url('../helperFiles/images/passion-3.jpg');}


@media screen and (max-width: 800px) {
    .slide--container {
        min-width: 70vw;
        max-height: 100%;
        flex-direction: column;
    }
    .slide--description {
        text-align: center;
        margin-top: 1em;
        width: 87%;
        font-size: .9em;
    }
    .slide--photo {
        margin-right: 0;
        width: 90%;
        height: 45vh;
    }
}