.section--header {
  min-height: 100vh;
  max-width: 85%;
}

.header--container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
}

.header--leftside--container {
  transform: translateX(-100%);
  flex: .5;
  background: rgb(0,0,0);
  background: linear-gradient(0deg, rgba(0,0,0,1) -40%, rgba(0,0,0,1) 50%, rgba(0,0,0,1) 140%);
  height: 100%;
  min-width: 5vw;
  transition: all .5s;
}

.header--main--container {
  flex: 8;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header--text--container {
  margin-left: 3em;
  margin-right: 1em;
  width: 45%;
  height: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header--title {
  margin-top: auto;
  transform: translateX(-10%);
  opacity: 0;
  font-size: 4.5em;
  font-weight: 700;
  width: 80%;
}

.header--subtitle {
  color: #fff;
  width: 100%;
  opacity: 0;
  font-size: 2.5em;
  transform: translateX(-5%);
}

.header--description {
  margin-top: .7em;
  width: 90%;
  opacity: 0;
  color: rgb(255, 255, 255, .7);
  transform: translateX(-8%);
}

.header--pic--container {
  height: 68%;
  width: 45%;
  margin-left: 1em;
  border-radius: 50%;
  opacity: 0;
  background-image: url('../helperFiles/images/portrait.jpg');
  background-position: center;
  background-size: cover;
  transform: translateX(30%);
}

.header--pic--container img {
  width: 80%;
  height: auto;
}
.header--title.active{
  transition: transform .7s ease-out .5s, opacity .5s ease .5s;
}

.header--subtitle.active{
  transition: transform .7s ease-out .5s, opacity .4s ease .5s;
}

.header--description.active{
  transition: transform .6s ease-out .5s, opacity .7s ease .5s;
}

.header--pic--container.active {
  transition: transform .7s ease-out .5s, opacity .6s ease .5s;
}

.header--leftside--container.active, .header--title.active, .header--subtitle.active, .header--description.active, .header--pic--container.active {
  opacity: 1;
  transform: translateX(0%);
}

.header--leftside--container.roll {
  flex: 8;
  min-width: 50%;
}

.header--arrow {
  margin-top: auto;
  opacity: 0;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}

.header--arrow.active {
  transition: all 2s 4s;
  opacity: .5;
}

.header--arrow:hover {
  transition: all .5s;
  opacity: 1;
}

.header--arrow--description {
  font-size: .8em;
  margin-left: .2em;
}

.arrow {
  width: 40px;
  height: 40px;
  background-image: url('../helperFiles/images/arrowDown.svg');
  background-size: contain;
  filter: invert(92%) sepia(29%) saturate(230%) hue-rotate(4deg) brightness(90%) contrast(95%);
}

.bounce {
  animation: bounce 2s infinite;
}

.arrow:hover {
  cursor: pointer;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@media (max-width: 1223px){
  
  .header--title {
    font-size: 1em;
  }

  .header--subtitle {
    font-size: 1em;
  }

  .header--description {
    font-size: .5em;
  }
}

@media (max-width: 1279px){
  .header--title {
    font-size: 3.5em;
  }

  .header--subtitle {
    font-size: 2em;
  }

  .header--description {
    font-size: 1em;
  }
}

@media (max-width: 1223px){
  .header--title {
    font-size: 3em;
  }

  .header--subtitle {
    font-size: 2em;
  }

  .header--description {
    font-size: 1em;
  }
}

@media (max-width: 1023px){
  .section--header {
    max-width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .section--header {
    border: solid red;
  }
  .header--title {
    font-size: 2.2em;
  }

  .header--subtitle {
    font-size: 1.2em;
  }

  .header--description {
    font-size: .8em;
  }

  .header--pic--container {
    height: 60%;
    margin-right: 1em;
  }
}

@media screen and (max-width: 767px) {
  .section--header {
    border: solid blue;
  }
  /* start of medium tablet styles */
  .header--title {
    font-size: 2.2em;
  }

  .header--subtitle {
    font-size: 1.2em;
  }

  .header--description {
    font-size: .6em;
  }
  .header--pic--container {
    height: 30%;
    margin-right: 1em;
  }
  }
  
  @media screen and (max-width: 479px) {
    .section--header {
      border: solid green;
    }
  /* start of phone styles */
  /* .header--title {
    font-size: 2.5em;
  }

  .header--subtitle {
    font-size: 1.5em;
  }

  .header--description {
    font-size: .8em;
  } */
  }

@media (min-width: 1680px){
  .header--title {
    font-size: 6em;
  }

  .header--subtitle {
    font-size: 3em;
  }

  .header--description {
    font-size: 1.3em;
  }

  .arrow {
    width: 80px;
    height: 80px;
  }

  .header--arrow--description {
    font-size: 1.6em;
  }
}