  .header--container {
    width: 85%;
    height: 100vh;
    display: flex;
    flex-direction: row;
  }

  .header--leftside--container {
    width: 15vw;
    background-color: #1d1d1a;
    height: 100%;
  }

  .header--main--container {
    width: 100%;
    display: flex;
    flex-direction: row;
  }

  .header--text--container {
    padding-left: 2em;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .header--title {
    transform: translateY(-50%);
    opacity: 0;
    font-size: 1.2em;
    transition: transform 1s ease-out, opacity 2s;
  }
  
  .header--subtitle {
    margin-top: .5em;
    opacity: 0;
    font-size: 1.5em;
    transform: translateX(-20%);
    transition: transform 1s ease-out, opacity 2.2s;
  }

  .header--decription {
    opacity: 0;
    margin-top: 1em;
    color: #fff;
    transform: translateX(-10%);
    transition: transform 1.2s ease-out, opacity 1.4s;
  }

  .header--pic--container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateX(12%);
    transition: transform .4s ease-out, opacity .7s;
  }

  .header--title.active {
    transform: translateY(0%);
    opacity: 1;
  }

  .header--subtitle.active {
    opacity: 1;
    transform: translateX(0%);
  }

  .header--decription.active {
    opacity: 1;
    transform: translateX(0%);
  }

  .header--pic--container.active {
    opacity: 1;
    transform: translateX(0%);
  }

