.section--contact {
    color: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../helperFiles/images/contact.jpeg');
  }

.contact--container {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(255,255,255,0.05) -100%, rgba(0,0,0,1) 96%);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.contact--title {
    opacity: 0;
    transform: translateY(100%);
    font-size: 1.8em;
    transition: all 1.5s;
}

.contact--title.active {
    transform: translateY(0%);
    opacity: 1;
}

.footer {
    opacity: 0;
    width: 90%;
    transform: translateY(30%);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    transition: all 1.5s;
}

.footer.active {
    transform: translateY(0%);
    opacity: 1;
}
.footer--options {
    margin-left: 2em;
}

.footer--options, .footer--signature {
    text-align: left;
    width: 35%;
}

.footer--options p, .footer--signature p{
    font-weight: 900;
    margin-top: .5em;
}

.footer--link a, .footer--layer{
    margin-left: 2em;
    font-weight: 400;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
}
.footer--link.fixed {
    margin-left: .7em;
}
.footer--link a {
    left: 5%;
}

.footer--layer.fixed {
    margin-left: 3.5em;
}

.footer--underline {
    display: inline-block;
}

.footer--underline::after {
    content: '';
    width: 0px;
    height: 3px;
    display: block;
    background: #fff;
    transition: 300ms;
  }

  .footer--underline.active::after{
    width: 80%;
}

@media (min-width: 1680px){
    .contact--title {
        font-size: 2.2em;
    }
    .footer {
        font-size: 1.2em;
    }
    .footer--options {
        margin-left: 2em;
    }
}

@media (max-width: 1279px){
    .contact--title {
        font-size: 1.4em;
    }
}

@media (max-width: 1024px){
    .section--contact {
        max-width: 100%;
    }
    .contact--title {
        font-size: 1.5em;
    }
    .footer {
        font-size: .9em;
    }
    .footer--signature {
        width: 35%;
    }
}

@media screen and (max-width: 767px) {
    .footer {
        flex-direction: column;
        align-items: start;
    }
    .footer--options, .footer--signature{
        width: 100%;
        margin: 1em;
    }
    .contact--title {
        font-size: 1.3em;
        width: 90%;
    }
}


@media screen and (max-width: 479px) {
    .contact--title {
        font-size: 1em;
    }
    .footer {
        font-size: .8em;
    }
}