.section--projects {
    display: flex;
    flex-direction: row;
    min-height: 200vh;
}

.projects--leftside--container {
    flex: .5;
    width: 100%;
    min-width: 5vw;
    transition: all .5s;
}

.projects--leftside--container.active {
    flex: 8;
}

.projects--rightside--container {
    margin-top: 6em;
    height: 100%;
    flex: 8;
    margin-bottom: 15em;
}

.projects--title--container {
    padding-top: 6em;
    width: 20%;
    transform: translateX(20%);
    margin-left: 3em;
    opacity: 0;
    transition: all .8s;
}

.projects--title--container.active {
    transform: translateX(0);
    opacity: 1;
}

.projects--rightside--container h2{
    font-size: 4em;
}

.projects--pics--container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

.projects--pic--container {
    opacity: 0;
    margin-left: 20em;
    margin: 10em;
    height: 90vh;
    width: 85%;
    transition: all 1s .5s;
}

.projects--pic--container.active {
    opacity: 1;
}

.projects--pic--container img{
    margin-left: 1em;
    object-fit: cover;
    width: 100%;
    max-height: 100%;
    height: auto;
}

.project--text--container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.project--text--container.active {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.changingText--container {
    margin: auto;
    width: 80%;
    height: 70%;
    opacity: 0;
    transform: translateY(-200px);
    transition: transform .4s, opacity .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.changingText--container.active {
    opacity: 1;
    transform: translateY(0);
    transition: transform .2s, opacity .1s;
}

.changingText--container h3 {
    color: #dfddb8;
    font-size: 3em;
    opacity: 0;
    transition: all .5s;
}

.changingText--container p {
    color: #fff;
    margin-top: 4em;
    opacity: 0;
}

.changingText--container a {
    margin-top: 4em;
    display: inline-block;
    text-decoration: none;
    color: #ec677d;
    opacity: 0;
}

.changingText--container.active h3 {
    transition: all .5s;
    opacity: 1;
}

.changingText--container.active p {
    transition: all 1s;
    opacity: 1;
}

.changingText--container.active a {
    transition: all 1.5s;
    opacity: 1;
}


@media screen and (max-width: 1023px) {
    .section--projects {
        display: none;
    }
}

