.section--stack {
    min-height: 200vh;
    display: flex;
    flex-direction: row;
    width: 85%;
}

.stack--leftside--container {
    width: 50%;
    min-height: 100%;
    background-color:#1a1a17;
    transition: all 1s;
    padding-bottom: 4em;
}

.stack--rightside--container {
    width: 50%;
    transition: all 1s;
}

.stack--header--container {
    margin-top: 4em;
    opacity: 0;
    transform: translateX(-10%);
    transform: rotate(10deg);
    transition: all .6s;
}

.stack--header--container.active {
    opacity: 1;
    transform: translateX(0%);
    transform: rotate(0deg);
    margin-left: 2em;
}

.stack--header--container h2 {
    font-size: 4em;
}

.leftside--pic--container, .rightside--pic--container {
    align-items: center;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.leftside--pic--container {
    margin-top: 5em;
}

.rightside--pic--container {
    margin-top: 2em;
    justify-content: flex-start;
}

.leftside--pic--container.out, .rightside--pic--container.out {
    display: none
}

.stack--rightside--container.out {
    width: 0%;
}

.stack--leftside--container.out {
    width: 100%;
}

