.section--stack {
    min-height: 200vh;
    display: flex;
    flex-direction: row;
}

.stack--leftside--container {
    width: 50%;
    height: 180vh;
    transition: all 1s;
}

.stack--rightside--container {
    min-height: 180vh;
    width: 50%;
    transition: all 1s;
}

.stack--header--container {
    margin-top: 4em;
    opacity: 0;
    transform: translateX(-10%);
    transform: rotate(10deg);
    transition: all .6s;
}

.stack--header--container.active {
    opacity: 1;
    transform: translateX(0%);
    transform: rotate(0deg);
    margin-left: 2em;
}

.stack--header--container h2 {
    font-size: 4em;
}

.leftside--pic--container, .rightside--pic--container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    transition: all 1s;
}
.rightside--pic--container{
    justify-content: flex-end;
}

.leftside--pic--container {
    height: 80%;
    justify-content: space-between;
}

.rightside--pic--container {
    height: 100%;
    padding-bottom: 2em;
}

.leftside--pic--container.out, .rightside--pic--container.out {
    opacity:0
}

.stack--rightside--container.out {
    width: 1%;
}

.stack--leftside--container.out {
    width: 99%;
}

@media screen and (max-width: 767px) {
    .leftside--pic--container.out, .rightside--pic--container.out {
        display: flex;
    }
    .section--stack {
        min-height: 100vh;
        flex-direction: column;
    }
    .stack--rightside--container {
        min-height: 100vh;
    }
    .stack--leftside--container, .stack--rightside--container {
        max-width: 100%;
    }
    .stack--rightside--container.out {
        width: 100%;
    }
    .stack--leftside--container.out {
        width: 100%;
    }
    .stack--leftside--container {
        width: 100%;
    }
    .stack--rightside--container {
        width: 100%;
    }
    .stack--rightside--container {
        background: linear-gradient(0deg, rgba(0,0,0,1) -10%, rgb(44, 43, 43) 50%, rgba(0,0,0,1) 110%);
    }
}

@media (max-width: 1024px){
    .section--stack {
        max-width: 100%;
    }
}