.section--interests {
    display: flex;
    flex-direction: row;
    min-height: 170vh;
}

.interests--leftside--container {
    width: 50%;
    transition: all 1s;
}

.interests--rightside--container {
    width: 50%;
    min-height: 100%;
    transition: all 1s;
}

.interests--leftside--container.active {
    width: 99%;
}

.interests--rightside--container.active {
    width: 1%;
}

.interests--wrapper {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests--title {
    margin-top: 4em;
    padding-top: 1.2em;
    height: 15vh;
    text-align: center;
    font-size: 2.5em;
    opacity: 0;
    transition: all .5s;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.interests--title.active {
    opacity: 1;
}

.interests--carousel--wrapper {
    height: 80vh;
    display: none;
    width: 90%;
}

.interests--carousel--wrapper.active {
    display: inline;
    opacity: 0;
    transition: all .5s;
}

.interests--carousel--wrapper.active.in {
    opacity: 1;
}
@media screen and (max-width: 767px) {
    .section--interests {
        min-height: 140vh;
    }
}
@media screen and (max-width: 767px) and (orientation: landscape) {
    .section--interests {
      height: 160vh;
    }
  }

@media (max-width: 1023px){
    .interests--carousel--wrapper {
        width: 90%;
    }
    .section--interests {
        max-width: 100%;
    }
}
