.section--interests {
    display: flex;
    flex-direction: row;
    min-height: 170vh;
}

.interests--leftside--container {
    width: 50%;
    transition: all 1s;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(29,29,27,1) 47%);
}

.interests--rightside--container {
    width: 50%;
    min-height: 100%;
    transition: all 1s;
}

.interests--leftside--container.active {
    width: 99%;
}

.interests--rightside--container.active {
    width: 1%;
}

.interests--wrapper {
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.interests--title {
    margin-top: 4em;
    padding-top: .5em;
    height: 100%;
    text-align: center;
    font-size: clamp(2.1em, 4vw, 4em);
    opacity: 0;
    transition: all .5s;
}

.interests--title.active {
    opacity: 1;
}

.interests--carousel--wrapper {
    margin-top: 2em;
    height: 75vh;
    display: none;
    width: 87%;
}

.interests--carousel--wrapper.active {
    display: inline;
    opacity: 0;
    transition: all 1s;
}

.interests--carousel--wrapper.active.in {
    opacity: 1;
}
@media (max-width: 1023px){
    .mobile--background {
        background-color: #000000;
    }
    .interests--carousel--wrapper {
        margin-left: 1.5em;
        width: 85%;
        height: 70vh;
    }
    .section--interests {
        max-width: 100%;
    }
}
